@{
    ViewBag.Title = "Home Page";
}
<div class="media-body">
    <div class="jumbotron">

        <h1>My Library</h1>
        <h2>Book Collection</h2>
        <p><a href='\Books\Index' target="blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    </div>