body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail{
    background-color:burlywood;
}


.media-body {
    background-image: url('image/pexels-photo-590493.jpeg');
    background-size:cover;
    height:100vh;
}

.jumbotron{
    margin-top:20%;
    background:none;
    color:blue;
    text-align:center;
}
.col-md-4{
    color:white;
}
.media-body1 h2{
    color:white;
}
